<a href="https://colab.research.google.com/github/sh2624/CSE/blob/main/2_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터프로그래밍

## 실습1: Python Basics

### What is Python?
*  Python is a popular programming language, created by Guido van Rossum, and released in 1991.
* Used for web development (server-side), software development, mathematics, and system scripting

### What can Python do?
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

### Why Python?
* Python works on **different** platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a **simple** syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an **interpreter** system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

### Good to know
* The most recent major version of Python is **Python 3**. However, **Python 2**, although not being updated with anything other than security updates, is still quite popular.

### Python Syntax compared to other programming languages
* Python was designed for **readability**, and has some similarities to the English language with influence from mathematics.
* Python uses **new lines** to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on **indentation**, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

### Python Quickstart

Python is an interpreted programming language, this means that as a developer you write Python (.py) files in a text editor and then put those files into the python interpreter to be executed.

In [ ]:
print("Hello World!")

### 1. Python Indentation (들여쓰기)

Indentation refers to the spaces at the beginning of a code line.

Where in **other** programming languages the indentation in code is for **readability only**, the indentation in Python is very **important**.

In [ ]:
if 5 > 2:
print("Five is greater than two!")

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

The number of spaces is up to you as a programmer, the most common use is **four**, but it has to be **at least one**.

들여쓰기는 최소 한 칸 이상 해야 하며, 통상적으로는 4칸임.

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

### 2. Python Comments (주석)

* Comments can be used to **explain** Python code.
* Comments can be used to make the code more **readable**.
* Comments can be used to **prevent** execution when testing code.

Comments starts with a `#`, and Python will ignore them:

In [ ]:
# This is a comment
print("Hello World!")

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [ ]:
print("Hello, World!") #This is a comment

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

Python does not really have a syntax for multiline comments.
To add a multiline comment you could insert a `#` for each line or use **ctrl + /**:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Or, not quite as intended, you can use a **multiline string**.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

### 3. Python Variables (변수)

Variables are containers for storing data values.
A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

### 4. Python Data Types (자료형)

Built-in data types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

* Text Type:	`str`
* Numeric Types:	`int`, `float`, `complex`
* Sequence Types:	`list`, `tuple`, `range`
* Mapping Type:	`dict`
* Set Types:	`set`, `frozenset`
* Boolean Type:	`bool`
* Binary Types:	`bytes`, `bytearray`, `memoryview`
* None Type:	`NoneType`

You can get the data type of any object by using the `type()` function:

In [ ]:
x = 5
print(type(x))

### 5. Python Numbers (정수, 실수, 복소수)

There are three numeric types in Python

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

### 6. Casting (형변환)

Casting in python is therefore done using constructor functions:

* `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
# Convert x into integer
x = 1
x = int(x)

# Convert y into integer
y = 2.8
y = int(y)

# Convert z into integer
z = "3"
z = int(z)

print(x, y, z)

1 2 3

In [ ]:
# Convert x into float
x = 1
x = float(x)

# Convert y into float
y = 2.8
y = float(y)

# Convert z into float
z = "3"
z = float(z)

# Convert w into float
w = "4.2"
w = float(w)

print(x, y, z, w)

1.0 2.8 3.0 4.2

In [ ]:
# Convert x into string
x = "s1"
x = str(x)

# Convert y into string
y = 2
y = str(y)

# Convert z into string
z = 3.0
z = str(z)

print(x, y, z)

s1 2 3.0

### 7.1. String: slicing (문자열 슬라이싱)

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
# Get the characters from position 2 to position 5 (5는 포함되지 않음(b[2], b[3], b[4] 출력))
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
# Get the characters from the start to position 5 (not included):
b = "Hello, World!"
print(b[:5])

Hello

### 7.2 String: modify strings (문자열 수정)

Python has a set of built-in methods that you can use on strings.
* The `upper()` method returns the string in upper case
* The `lower()` method returns the string in lower case
* The `strip()` method removes any whitespace from the beginning or the end

In [ ]:
# Make the string in upper case (대문자로)
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
# Make the string in lower case (소문자로)
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
# Remove any whitespace from the string (앞뒤 공백 제거)
a = " Hello, World! "
print(a.strip())

Hello, World!

### 7.3 String: concatenation (문자열 연결)

To concatenate, or combine, two strings you can use the `+` operator.

In [ ]:
# Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
# To add a space between them, add a " ":
a = "Hello"
b = "World"
c = a + ', ' + b
print(c)

Hello, World

### 7.4 String: format (문자열-다른 자료형 연결)

As we learned in the Python Variables chapter, we cannot combine strings and numbers.

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [ ]:
age = 36
txt = "My name is John, and I am {}" # {}: placeholder
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

### 8.1 Operators: arithmetic (연산자)

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
x = 5
y = 3

# addition, +
print(x + y)

# subtraction, -
print(x - y)

# multiplication, *
print(x * y)

# division, /
print(x / y)

# modulus, %
print(x % y)

# exponentiation, **
print(x ** y)

# floor division, //
print(x // y) #the floor division // rounds the result down to the nearest whole number

8
2
15
1.6666666666666667
2
125
1

### 8.2 Operators: assignment (연산자 생략)

Assignment operators are used to assign values to variables:

In [ ]:
x = 5
print(x)

# x = x + 3
x += 3
print(x)

# x = x - 3
x -= 3
print(x)

# x = x * 3
x *= 3
print(x)

# x = x / 3
x /= 3
print(x)

5
8
5
15
5.0

### 9. List (배열(순서 O))
A list is the Python equivalent of an array, but is resizeable and can contain elements of different types

In [ ]:
xs = [3, 1, 2]

# Print the last indice
# Negative indices count from the end of the list (-1 인덱스는 배열의 맨 끝)
print(xs[-1])

2

In [ ]:
# Add a new element to the end of the list (배열의 끝에 요소 추가)
xs.append('bar')
print(xs)

[3, 1, 2, 'bar']

In [ ]:
# Remove and return the last element of the list (배열의 끝 요소 제거)
x = xs.pop()
print(xs)

[3, 1, 2]

In [ ]:
# Create a list containing [0, 1, 2, 3, 4, 5]
# range is a built-in function that creates a list of integers
nums = list(range(6))
print(nums)

[0, 1, 2, 3, 4, 5]

In [ ]:
# Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:4])

[2, 3]

In [ ]:
# Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[2:])

[2, 3, 4, 5]

In [ ]:
# Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:2])

[0, 1]

In [ ]:
# Get a slice of the whole list; prints ["0, 1, 2, 3, 4]"
print(nums)

[0, 1, 2, 3, 4, 5]

In [ ]:
# Assign a new sublist to a slice; change nums into [0, 1, 8, 9, 4]
nums[2:4] = [8, 9]
print(nums)

[0, 1, 8, 9, 4, 5]

In [6]:
animals = ['cat', 'dog', 'monkey']

# Loop over and print the elements of the list:
for x in animals:
  print(x)

cat
dog
monkey

In [ ]:
# Put square values of nums in squares list
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
  squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# Make this code simpler using a list comprehension
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
# Make a list of squares of even numbers in the list
# List comprehensions can also contain conditions
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

### 10. Dictionary (딕셔너리(순서 X))
A dictionary stores (`key`, `value`) pairs

In [ ]:
# Create a dictionary containing the followings key:value pairs
# cat:cute  /  dog:furry
d = {
        'cat': 'cute',
        'dog': 'furry'
    }

In [ ]:
# print an entry 'cat' from a dictionary; prints 'cute'
print(d['cat'])

cute

In [ ]:
# Add another key:value pair
# fish:wet
d['fish'] = 'wet'
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
# Get an element with a default; prints "N/A" if not exists
# fish / monkey
print(d.get('fish', "N/A"))
print(d.get('monkey', "N/A"))

wet
N/A

In [ ]:
# Remove 'fish' from the dictionary
del d['fish']
print(d)

{'cat': 'cute', 'dog': 'furry'}

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}

# Loop over keys of the dictionary
# Access the values with the keys
for x in d:
  legs = d[x]
  print("A %s has %d legs" % (x, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
# Make a dictionary of key:squares of even numbers in the list
# Dictionary comprehensions can also contain conditions
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0, 16, 4}

### 11. Function (함수)
Python functions are defined using the `def` keyword

In [ ]:
# Define a function called sign with argument <x>
# print 'positive' if x > 0
# print 'negative' if x < 0
# print 'zero' if x = 0
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

for x in [-1, 0, 1]:
  print(sign(x))

negative
zero
positive

In [16]:
# Define a function called hello takes
# arguement <name>
# optional argument <loud> with default value False
# print "HELLO, [name in large letter]" if loud = True
# print "HELLO, [name in given form]" if loud = False
def hello(name, loud=False):
  if loud == False:
    print("HELLO,", name)
  else:
    print("HELLO,", name.upper())

hello('Bob')
hello('Fred', loud=True)

HELLO, Bob
HELLO, FRED

### 12. Class (클래스)
Python classess are defined using the `class` keyword

In [ ]:
# this example would actually be invalid because class definitions cannot be empty
class Home:

In [ ]:
class Home:
  pass

In [18]:
# create a class called `Home` that represents a house
# the class should store the following informiation
# 1. the number of room sin the house (`rooms`)
# 2. the number of stories in the house (`stories`)
# set these two values as instance variable
class Home:
  def __init__(self, rooms, stories):
    # instance variables
    self.rooms = rooms
    self.stories = stories

In [19]:
# create an object of the `Home` with 4 rooms and 2 stories
my_home = Home(4, 2)

print(my_home.rooms)
print(my_home.stories)

4
2

Methods are functions define das part of a class. The first parameter for any class method, including dunder methods, is the actual object calling the method, usually called `self`.

In [ ]:
class Bird:
  # class attribute
  is_hungry = True

  def feed_bird(self, food):
    if self.is_hungry:
      self.is_hungry = False
      print("Feeding with {}. Bird fed!".format(food))
    else:
      print('Bird already ate.')

In [ ]:
# create a `Bird` class
sparrow = Bird()

# feed_bird with `seeds`
sparrow.feed_bird('seeds')

# feed_bird with `oats`
sparrow.feed_bird('oats')

Feeding with seeds. Bird fed!
Bird already ate.